# Папки и файлы, генерируемые Gradle
.gradle/
build/

# Папки и файлы, генерируемые IDE (IntelliJ IDEA, VS Code и др.)
.idea/
*.iml
*.iws
.vscode/

# Скомпилированные файлы (хотя они и так внутри build/)
*.class

# Лог-файлы
*.log

# Системные файлы
.DS_Store

# Файлы сбоев виртуальной машины Java
hs_err_pid*